body{
    background-color: #D4DDE1;
}
body{ font-family: 'Markazi Text', serif;
}
a:hover { 
    background-color: #335252;
    }
a:active{
  color: #FB6542
}
#STD{
  display: block;
  float: right;
  width: 40%;
}
#h2{
  color: #AA4B41;
  font-size: 80;
}
#h3{
  color: #AA4B41;
  font-size: 80;
}

  
