body{
    background-color: #D4DDE1;
    font-family: 'Markazi Text', serif;
    text-align: center;
}

a:hover { 
    background-color: #335252;
    }
a:active{
  color: #FB6542
}
#STD{
  float: center;
  width: 40%;
}
#h2{
  color: #AA4B41;
  font-size: 80;
}
#h3{
  color: #AA4B41;
  font-size: 80;
}
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
{
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 a:hover {
    background-color: #111;
}

  
