/*Mobile*/
@media only screen and (max-width: 600px) {
    body {
    background-color: #D4DDE1;
}
    
    #header{
    background: #AA4B41;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
 }
    
    nav{
    text-align: right;
    font-size: 20px;
    display: block;
    padding: 14px 16px;
    float: right;
}
    
    .containOof::after {
    content: "";
    display: table;
    clear: both;
}
    

.oofieDoofie {
   float: left;
   display: inline-block;
   width: 25%;  
   height: auto;
   border-radius: 25%;
}

.oofieDoofie img, .oofieDoofie h2 {
   float: left;
   display: inline-block;
   border-radius: 25%;
   width: 25%;  
   height: auto;
}

    
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
    background-color: red;
    
}
    
    
}

/*Desktop*/
@media only screen and (min-width: 851px) {
body { 
    background-color: #AA4B41;
    background-image: url(1_-I2xju4t8CCP-wb3Rlrqfg.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 674px;
    }
    
* {
   box-sizing: border-box;
}
    
h1 {
    color: #2D3033;
    text-align: center;
}

#header{
    background: #AA4B41;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    }
    
nav{
    text-align: right;
    font-size: 20px;
    display: block;
    padding: 14px 16px;
    float: right;
}
    a{
    margin: 0px;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-family: 'Slabo 27px', serif;
        
    }
    
nav > .active{
    background-color: #335252;
    padding: 14px 16px;
}
    
a:hover{ 
    background-color: #335252;
    padding: 14px 16px;
    }
    
#contact{
    border-style: solid;
    border-width: 2px;
    margin-top: auto;
    margin-bottom: 130px;
    margin-right: auto;
    margin-left: auto;
    padding: 45px; 
    box-sizing: border-box;
    width: 30%;
    text-align: center;
}

}
.containOof::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: auto;
  
}

.oofieDoofie {
    float: left;
    width: 35%;  
    height: auto;
+   margin-top: auto;
    border-radius: 25%;
}

.oofieDoofie img, .oofieDoofie h2 {
    float: left;
+   margin-top: auto;
    border-radius: 25%;
    width: 35%;  
    height: auto;
}
#google_translate_element{
    margin: 14px;
    margin-left: 25px;
    }
