body{ 
  background-color:#D4DDE1;
  font-family: 'Markazi Text', serif;
  text-align: center; 
}
 a:hover{
  background-color: #97B8C2;
}

a:active{
  color: #FB6542
}
img{
  width: 55%;
  height: auto;
}
h2{
  color: #AA4B41;
  font-size: 80;
}
h3{
  color: #AA4B41;
  font-size: 80;
}
  
